.env
data/
remnants/
.ipynb_checkpoints/
Untitled.ipynb
tweets_dataset.csv
users_dataset.csv
.DS_Store
config/.DS_Store
.vscode/
preprocess/__pycache__/
Untitled0.ipynb
word_counts.csv
sentiment/__pycache__
conversational.ipynb
conversations_dataset.csv
hashers_dataset.csv
tmp/
word_counts_1.csv
config/__pycache__/
training.1600000.processed.noemoticon.csv
tweets_dataset_khoi.csv
tweets_dataset_ilse.csv
tweets_dataset_oliver.csv
tweets_dataset_illija.csv
tweets_dataset_jan.csv
tweets_dataset_sven.csv
tweets_dataset_sven2.csv
tweets_dataset_gpu.csv
tweets_dataset_all.csv
json_files.txt
combined_dataset.csv
plots_for_poster.ipynb
